
.icon-add:before { content: '\e800'; } /* '' */
.icon-bell:before { content: '\e801'; } /* '' */
.icon-bookmark:before { content: '\e802'; } /* '' */
.icon-broken-link:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-dot-3:before { content: '\e807'; } /* '' */
.icon-basket-1:before { content: '\e808'; } /* '' */
.icon-clock:before { content: '\e809'; } /* '' */
.icon-compass:before { content: '\e80a'; } /* '' */
.icon-controls:before { content: '\e80b'; } /* '' */
.icon-down-cloud:before { content: '\e80c'; } /* '' */
.icon-enter:before { content: '\e80d'; } /* '' */
.icon-error:before { content: '\e80e'; } /* '' */
.icon-file:before { content: '\e80f'; } /* '' */
.icon-flag:before { content: '\e810'; } /* '' */
.icon-graph:before { content: '\e811'; } /* '' */
.icon-heart:before { content: '\e812'; } /* '' */
.icon-hide:before { content: '\e813'; } /* '' */
.icon-home:before { content: '\e814'; } /* '' */
.icon-id-card:before { content: '\e815'; } /* '' */
.icon-idea:before { content: '\e816'; } /* '' */
.icon-key:before { content: '\e817'; } /* '' */
.icon-location:before { content: '\e818'; } /* '' */
.icon-lock:before { content: '\e819'; } /* '' */
.icon-more-1:before { content: '\e81a'; } /* '' */
.icon-more-2:before { content: '\e81b'; } /* '' */
.icon-mute:before { content: '\e81c'; } /* '' */
.icon-pin:before { content: '\e81d'; } /* '' */
.icon-plus:before { content: '\e81e'; } /* '' */
.icon-search:before { content: '\e81f'; } /* '' */
.icon-route:before { content: '\e820'; } /* '' */
.icon-save:before { content: '\e821'; } /* '' */
.icon-settings:before { content: '\e822'; } /* '' */
.icon-share:before { content: '\e823'; } /* '' */
.icon-star:before { content: '\e824'; } /* '' */
.icon-switch:before { content: '\e825'; } /* '' */
.icon-unlock:before { content: '\e826'; } /* '' */
.icon-user:before { content: '\e827'; } /* '' */
.icon-volume:before { content: '\e828'; } /* '' */
.icon-zoom-in:before { content: '\e829'; } /* '' */
.icon-zoom-out:before { content: '\e82a'; } /* '' */