.navigation {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-left: 13px;
}
.menu__item {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 9px 0 0 9px;
  margin: 1px 0;
}
.menu__item span {
  position: relative;
  left: -6.5px;
}
.menu__item.is-active,
.menu__item:hover {
  background-color: #e5e5e5;
}
.menu-icon:before {
  font-size: 28px;
}
